<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<% if @orders.any? %>
<div class="narwhal-order__wrapper">
  <% @orders.each do |order| %>
     <a  class="narwhal-order__item-wrapper" target="_blank" href="https://#{@curr_shop.shopify_domain}/admin/orders/#{order.order_id}" >
      <div class="narwhal-order__item">
        <p class="narwhal-order__item-details">
          <span class="text-bold"><%= order.customer %></span> made a narwhal order.
        </p>
        <p class="narwhal-order__name-text">
          ORDER #<%= order.order_name %>
        </p>
        <%= image_tag 'narwal_flag.svg', class: "side-logo-design" %>
      </div>
    </a>
  <% end %>
</div>
<% else %>
  <div class="narwhal-order__wrapper">There is no order.</div>
<% end %>
